USE [master]
GO
/****** Object:  Database [VeterinerDb]    Script Date: 25.09.2025 19:29:49 ******/
CREATE DATABASE [VeterinerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VeterinerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VeterinerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VeterinerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\VeterinerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VeterinerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VeterinerDb]
GO
/****** Object:  Table [dbo].[Custormers]    Script Date: 25.09.2025 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Custormers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [nvarchar](11) NULL,
	[email] [nvarchar](50) NULL,
	[address] [text] NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Custormers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 25.09.2025 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[customers_id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[species] [nvarchar](50) NULL,
	[breed] [nvarchar](50) NULL,
	[gender] [nvarchar](10) NULL,
	[birth_date] [date] NULL,
	[chip_number] [varbinary](50) NULL,
	[created_at] [datetime] NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 25.09.2025 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[visit_id] [int] NULL,
	[medicine_name] [nvarchar](50) NULL,
	[dosage] [text] NULL,
	[duration] [text] NULL,
	[instructions] [text] NULL,
 CONSTRAINT [PK_prescriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vaccinations]    Script Date: 25.09.2025 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vaccinations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NULL,
	[vaccine_name] [nvarchar](100) NULL,
	[vaccination_date] [datetime] NULL,
	[next_due_date] [date] NULL,
	[notes] [text] NULL,
 CONSTRAINT [PK_vaccinations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[visits]    Script Date: 25.09.2025 19:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pet_id] [int] NULL,
	[visit_date] [datetime] NULL,
	[reason] [text] NULL,
	[diagnosis] [text] NULL,
	[treatment] [text] NULL,
	[notes] [text] NULL,
 CONSTRAINT [PK_visits] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Custormers] ON 

INSERT [dbo].[Custormers] ([Id], [full_name], [phone], [email], [address], [created_at]) VALUES (1, N'Berfin', N'252', N'berfin@berfin.com', N'asdfasfdasfads fas sda fsda ', CAST(N'2025-09-23T21:03:03.163' AS DateTime))
INSERT [dbo].[Custormers] ([Id], [full_name], [phone], [email], [address], [created_at]) VALUES (2, N'Fikret', N'522', N'fikret@fikret.com', N'asdfasfasd ', CAST(N'2025-09-23T21:03:35.537' AS DateTime))
INSERT [dbo].[Custormers] ([Id], [full_name], [phone], [email], [address], [created_at]) VALUES (5, N'as', N'asfd', N'asfd', N'asdf', CAST(N'2025-09-23T21:16:42.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[Custormers] OFF
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Custormers] FOREIGN KEY([customers_id])
REFERENCES [dbo].[Custormers] ([Id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Custormers]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_prescriptions_visits] FOREIGN KEY([visit_id])
REFERENCES [dbo].[visits] ([Id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [FK_prescriptions_visits]
GO
ALTER TABLE [dbo].[vaccinations]  WITH CHECK ADD  CONSTRAINT [FK_vaccinations_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([Id])
GO
ALTER TABLE [dbo].[vaccinations] CHECK CONSTRAINT [FK_vaccinations_Pets]
GO
ALTER TABLE [dbo].[visits]  WITH CHECK ADD  CONSTRAINT [FK_visits_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([Id])
GO
ALTER TABLE [dbo].[visits] CHECK CONSTRAINT [FK_visits_Pets]
GO
USE [master]
GO
